<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <link rel="stylesheet" href="/assets/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
  <nav class="center">
	<a href="/" font-family: 'Righteous', cursive;>MUSIC SNS!!!</a>

<% unless session[:user] %>
		<a href="/signup">新規登録</a>
	</nav>

	<header>
	<div class="header">
	  <h1>MUSIC SNS!!!</h1>
		<form action="/signin" method="post" class="form">
			<input type="text" name="name" placeholder="ユーザー名" required>
			<input type="password" name="password" placeholder="パスワード" requires>
			<input type="submit" value="ログイン">
		</form>
	</div>
	</header>

<% else %>
		<a href="/home">
    <img src="<%= current_user.user_img %>" alt="user_image" width="40" height="40">
    </a>
		<a href="/search">search</a>
		<a href="/signout">logout</a>
	</nav>
	<main>

	<header>
	<div class="header">
	  <h1>MUSIC SNS!!!</h1>
	</div>
	</header>
<% end %>

<div class="musics">
	<h1 style="text-align:center; font-size: 1.6em; ">最新の投稿</h1>
    <% @songs.each do |song| %>
			<div class="song">
				<p><img src="<%= song.img %>"></p>
				<p>artist:<%= song.artist %></p>
				<p>コメント:<%= song.body %></p>
				<p>投稿者:<%= song.user_name %></p>
			</div>
    <% end %>
</div>
</main>
</body>
</html>
